<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>VER TODOS</string>
	<string>VISITAS GUIADAS</string>
	<string>OPERA</string>
	<string>BALLET</string>
	<string>FILARMONICA</string>
	<string>GRAN ABONO</string>
	<string>ABONO ESTELAR</string>
	<string>ABONO VESPERTINO</string>
	<string>ABONO NOCTURNO</string>
</array>
</plist>
