<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Opera</string>
	<string>Ballet</string>
	<string>Filarmonica</string>
	<string>Gran Abono</string>
	<string>Abono Estelar</string>
	<string>Abono Vespertino</string>
	<string>Abono Nocturno</string>
</array>
</plist>
